body {
    background-color: #ffffff;
    font-weight: 100;
    font-size: 24px;
    color:#000000;
    margin-top: 70px;
}

h1, h2, h3, h4, h5, h6 {
    color: #0000ff;
}

.form {
    margin-top: 20px;
}

p {
    line-height: 30px;
    margin-bottom: 20px;
}

a {
    color: #ff00ff;
}

a:hover, a:focus {
    color: #0000ff;
}

footer {
    margin-bottom: 30px
}
